.app{
    height: 100%;
}
.listcontainer{
    height:80%;
    width:25%;
    margin: 2%;
    list-style: none;
    float: left;
    padding-left: 0;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: #595c64;
}
.buttonsInfo{
    width:25%;
    height:80%;
    float: left;
    margin: 2%;
    
}
.listitem{
    background-color: white;
    font-size: 2vw;
    color: teal;
    
}
